.heading{
	text-transform: 100px;
	}
.heading{
	text-align: center;
}
.paragraph{
	text-indent: 100px;
}
.heading{
	text-transform: uppercase;
}
.paragraph{
	text-transform: capitalize;
}
.paragraph{
	line-height: 80px;
}
.paragraph{
	letter-spacing: 40px;
}